<div class="container py-5">
  <div class="row" id="login-container">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="border text-center" id="login-box">
        <div class="row py-5 px-5">
          <div class="col-2"></div>
          <div class="col-8 h2">Sign Up</div>
          <div class="col-2"></div>
        </div>
        <p style="color: red;">{{message}}</p>
        <div class="row py-2 px-5" id="username-box">
          <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username">
          <p style="font-size: 0.7rem; color: red;" class="my-0 mx-2">{{change_username}}</p>
        </div>
        <div class="row pt-1 pb-2 px-5" id="email-box">
          <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email">
          <p style="font-size: 0.7rem; color: red;" class="my-0 mx-2">{{change_email}}</p>
        </div>
        <div class="row py-2 px-5" id="password-box">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="row pt-5 px-5" id="agreement-text">
          <p>By signing up, you agree to our Terms, Privacy Policy and Cookies Policy.</p>
          <p style="font-size: 0.75rem; color: darkblue">Check your email for your user ID after signing up!</p>
        </div>
        <div class="row py-2 px-5 justify-content-center" id="submit-box">
          <button type="button" (click)="onSignUp()" class="btn btn-primary px-4">Sign Up</button>
        </div>
        <div class="row py-5 px-5">
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>


</div>

