<mat-toolbar color="primary">
  All posts of {{userName}}
</mat-toolbar>
<div>
  <span class="user_name" *ngIf="showViewingWhom">You are viewing posts of {{userName}}</span>
  <div>
    <button type="button" (click)="onFollow()" class="btn btn-primary my_button" id="follow">Follow</button>
    <button type="button" (click)="onUnfollow()" class="btn btn-primary my_button" id="unfollow">Unfollow</button>
    <div id="unfollow_text"></div>
  </div>
</div>
<div class="all-cards">
  <app-card *ngFor="let data of postDataList"
            [imgSrc]="data.photo_url"
            [postText]="data.post_text"
            [postId]="data.post_id">

  </app-card>

</div>

<div id="paginationForm" style="margin-left: 30px;margin-top: 20px">
  <form>
    <label>Page:</label>
    <select [(ngModel)]="page" name="page">
      <option *ngFor="let p of pages" [value]="p">{{ p }}</option>
    </select>
    <button id="nextPageButton" (click)="nextPage()">Next</button>
  </form>
</div>
