<div class="container py-5">
  <div class="row" id="login-container">
    <div class="col-4"></div>
    <div class="col-4">
      <div class="border text-center" id="login-box">
        <div class="row py-5 px-5">
          <div class="col-2"></div>
          <div class="col-8 h2">Login</div>
          <div class="col-2"></div>
        </div>
        <div class="row py-3 px-5" id="email-box">
<!--          <input type="text" class="form-control" placeholder="Username, or Email" [(ngModel)]="username">-->
          <input type="text" class="form-control" placeholder="Email" [(ngModel)]="email">
        </div>
        <div class="row py-2 px-5" id="password-box">
<!--          <input type="text" class="form-control" placeholder="Password" [(ngModel)]="password">-->
          <input class="form-control" placeholder="Password" type="password" [(ngModel)]="password">
          <p class="my-2 mx-2" style="color: red; font-size: 0.7rem">{{message}}</p>
        </div>
        <div class="row py-3 px-5 justify-content-center" id="submit-box">
          <button type="button" (click)="onLogin()" class="btn btn-primary px-4">Log In</button>
        </div>
        <div class="row py-3 px-5">
          <div class="col-5"><hr/></div>
          <div class="col-2"><p>OR</p></div>
          <div class="col-5"><hr/></div>
        </div>
        <div class="row py-2 px-5 justify-content-center" id="google-login">
<!--          google sign in button: if logged in: onSignIn-->
          <button type="button" (click)="onGoogleLogin()" class="btn btn-outline-primary px-4">Google Log In</button>
        </div>
        <div class="row py-5 px-5">
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>



</div>

